<!DOCTYPE html>

<html>
<link rel="stylesheet" href="styles/style.css">
<body class="error404 logged-in bodynoise">
<div class="wrapper">

    <div class="errorglitch">
        <div class="eg-c">
            <span>{{error_name}}</span>
            <span>occurred</span>
            <p>{{message}}</p>
            <br><br>
            <a href="/" class="button-alt-2">EMERGENCY EXIT</a>
        </div>
    </div>
</div>
</body>
</html>