<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/hehehe.mp4" autoplay muted loop>
    </video>
    <div class="content">
        <nav>
            <h2 class="hardglitch" data-text="HELP" href="Kashirskaya33">
                MENU
            </h2>
            <a class="nolink bg-box" href="/profile">Profile</a>
            <a class="nolink bg-box" href="/login">Login</a>
            <a class="nolink bg-box" href="/register">Register</a>
            <a class="nolink bg-box" href="/tech">Techsupport</a>
        </nav>

        {{> footer}}
    </div>
</div>
</body>
<html>


