<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login In</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/bez.mp4" autoplay muted loop>
    </video>
    <div class="content">
        <h2 class="hardglitch" data-text="AGONY" href="Kashirskaya33">
            LOGIN
        </h2>
        <nav>
            <a class="nolink bg-box" href="/register">REGISTER</a>
            <a class="nolink bg-box" href="/tech">TECH SUPPORT</a>
        </nav>
        <br /><br />
        <div class="page_content">
            <form method="post">
                <div class="input_label">
                    <p>Username:</p>
                </div>

                <input type="text" name='username' placeholder="Username"/>
                <br /><br />
                <div class="input_label">
                    <p>Password:</p>
                </div>

                <input type="password" name="password" placeholder="Password"/>
                <br /><br />
                <p><input type="submit" value="LOGIN"></p>
            </form>
        </div>    {{> footer}}


    </div>

</div>
</body>
</html>