<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/grenade.mp4" autoplay muted loop>
    </video>
<div class="wrapper">
    <div class="content">
        <div class="profile">
            <div class="profile_header">
                <div class="picture">
                    <img src="/images/profile.jpg" alt="" class="box-img">
                </div>
            </div>
            <div class="profile_buttons">
                <h2 class="hardglitch" data-text="IAMDEAD" href="Kashirskaya33">
                    PROFILE
                </h2>
                <a class="nolink bg-box" href="/">Menu</a>
                <a class="nolink bg-box" href="/logout">Log out</a>
                <br /><br />
                <br /><br />
                <h3>Username : {{username}}</h3>
                <h3>ID : {{ID}}</h3>
            </div>
        </div>
        {{>footer}}
    </div>
</div>

</div>
</div>
</body>
</html>