<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/chevrole.mp4" autoplay muted loop>
    </video>
    <div class="content">
        <h2 class="hardglitch" data-text="HOPELESS" href="Kashirskaya33">
            REGISTER
        </h2>
        <a class="nolink bg-box" href="/login">LOG IN</a>
        <a class="nolink bg-box" href="/tech">TECH SUPPORT</a>
        <br /><br />
        <br /><br />

        <div class="page_content">
            <form method="post">
                <div class="input_label">
                    <p>Username:</p>
                </div>

                <input type="text" name='username' placeholder="Username"/>
                <br /><br />
                <div class="input_label">
                    <p>Password:</p>
                </div>

                <input type="password" name="password" placeholder="Password"/>
                <br /><br />
                <p><input type="submit" value="REGISTER"></p>
            </form>


        </div>
        {{> footer}}
    </div>
</div>
</body>
</html>