<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СЛУЖБА ПОДДЕРЖКИ</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/fab.mp4" autoplay muted loop>
    </video>
    <div class="content">
<nav>
    <h2 class="hardglitch" data-text="YOUAREALONE" href="Kashirskaya33">
        TECHSUPPORT
    </h2>
    <a class="nolink bg-box" href="/">Menu</a>
        <a class="nolink bg-box" href="/register">SIGN UP</a>
        <a class="nolink bg-box" href="/login">SIGN IN</a>
       </nav>
        <br /><br />
        <textarea>АЛО ФРОЗЕНУКУБ САПОРТ! КАКИЕ ЛАБЫ?! МЫ КАРТИНКИ СМЕШНЫЕ ДЕЛАЕМ! КАК СЛОМАЛСЯ?! МЫ МЕМЫ ЛУЧШЕ ДЕЛАЕМ В ГИМАЛАЯХ! ФРОЗЕНУКУБ НИКОГДА НЕ ОБМАНЫВАЕТ СВОИХ КЛИЕНТОВ! Э СЛЫШ ФРОЗЕНУКУБ ЕЩЕ НИ ОДНОГО ПОЛЬЗОВАТЕЛЯ НЕ КИНУЛ! Э АЛЁ Я ТУТ ВАЩЕТО ЗАНЯТ! Я НА ЮЗЕРА УЖЕ ТЫСЯЧУ ЛЕТ ОХОЧУСЬ. ТАК ЧТО...</textarea>

        {{> footer}}

    </div>

</div>
</body>
</html>